OnlineHotelManagementSystemWebApplication/Service References/AddMenuServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityLayers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityLayers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenuTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuTypes" nillable="true" type="tns:MenuTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuTypes" nillable="true" type="tns:ArrayOfMenuTypes" />
  <xs:complexType name="MenuTypes">
    <xs:sequence>
      <xs:element minOccurs="0" name="_menuType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_menuTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuTypes" nillable="true" type="tns:MenuTypes" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="_menuDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_menuID" type="xs:int" />
      <xs:element minOccurs="0" name="_menuItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_menuPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="_menuTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
</xs:schema>