OnlineHotelManagementSystemWebApplication/Service References/AddMenuServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45591/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntityLayers" />
  <xs:element name="AddMenuDDLWCF">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuDDLWCFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntityLayers" minOccurs="0" name="AddMenuDDLWCFResult" nillable="true" type="q1:ArrayOfMenuTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuIns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntityLayers" minOccurs="0" name="_menuObj" nillable="true" type="q2:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuInsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMenuInsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>