OnlineHotelManagementSystemWebApplication/Service References/DeleteRoomReference/DeleteRoomService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RoomDelete">
        <s:complexType />
      </s:element>
      <s:element name="RoomDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoomDeleteResult" type="tns:ArrayOfRoom" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRoom">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Room">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_roomID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="_roomDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="_roomTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="_roomCharges" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="_roomServices" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Deleteroom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RoomID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteroomResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RoomDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:RoomDelete" />
  </wsdl:message>
  <wsdl:message name="RoomDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:RoomDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteroomSoapIn">
    <wsdl:part name="parameters" element="tns:Deleteroom" />
  </wsdl:message>
  <wsdl:message name="DeleteroomSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteroomResponse" />
  </wsdl:message>
  <wsdl:portType name="DeleteRoomServiceSoap">
    <wsdl:operation name="RoomDelete">
      <wsdl:input message="tns:RoomDeleteSoapIn" />
      <wsdl:output message="tns:RoomDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Deleteroom">
      <wsdl:input message="tns:DeleteroomSoapIn" />
      <wsdl:output message="tns:DeleteroomSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeleteRoomServiceSoap" type="tns:DeleteRoomServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RoomDelete">
      <soap:operation soapAction="http://tempuri.org/RoomDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deleteroom">
      <soap:operation soapAction="http://tempuri.org/Deleteroom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeleteRoomServiceSoap12" type="tns:DeleteRoomServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RoomDelete">
      <soap12:operation soapAction="http://tempuri.org/RoomDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deleteroom">
      <soap12:operation soapAction="http://tempuri.org/Deleteroom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeleteRoomService">
    <wsdl:port name="DeleteRoomServiceSoap" binding="tns:DeleteRoomServiceSoap">
      <soap:address location="http://localhost:2020/DeleteRoomService.asmx" />
    </wsdl:port>
    <wsdl:port name="DeleteRoomServiceSoap12" binding="tns:DeleteRoomServiceSoap12">
      <soap12:address location="http://localhost:2020/DeleteRoomService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>