OnlineHotelManagementSystemWebApplication/Service References/BookNowServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45713/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntityLayers" />
  <xs:element name="BookNow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntityLayers" minOccurs="0" name="_bObj" nillable="true" type="q1:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookNowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookNowResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookNowDDLWCF">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BookNowDDLWCFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntityLayers" minOccurs="0" name="BookNowDDLWCFResult" nillable="true" type="q2:ArrayOfRoomType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>